.back {
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 3;
    height: 50px;
    margin-left: 113px;
}

@media only screen and (max-width: 1000px) {
    .back {
        margin-left: 80px;
    }
}