.container {
    display: flex;
    padding: 50px 0 50px 0;
    gap: 25px;
    border-bottom: solid;
}

.label {
    text-align: right;
    font-size: 12px;
    width: 75px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    width: 100%;
    margin-right: 100px;
}