.label {
    text-align: right;
    font-size: 12px;
    min-width: 100px;
    
}

.field {
    display: flex;
    gap: 25px;
    align-items: baseline;
    /* border: solid; */
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    /* width: 100%; */
    margin-right: 100px;
    /* border: solid; */
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 100px 0 12px 0;
    gap: 25px;
    /* border: solid; */
}


.footerContainer {
    display: flex;
    /* gap: 25px; */
    position: absolute;
    width: calc(50% - 12px);
    justify-content: space-between;
}

@media only screen and (max-width: 1000px) {
    .footerContainer {
        display: flex;
        flex-direction: column-reverse;
        gap: 25px;
        width: auto;
    }

    .footer > .info > .field > .label {
        display: block;
        text-align: left;
        min-width: 75px;
    }

    .footer > .info > .field {
        gap: 10px;
    }

    .footer:first-of-type {
        padding: 0px 0px 12px 0px;
    }

    .footer:last-of-type {
        padding: 100px 0px 0px 0px;
    }
}