@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* variables */
:root {
  --color-black: #1E1E1E;
  --color-white: #F8F8F8;
  --color-green: #145727;
  --color-red: #FE0002;
}

/* globals */
html {
  background: var(--color-white);
  color: var(--color-black);
}

p {
  margin: 0 0 25px 0;
}

p:last-of-type {
  margin: 0;
}

a {
  text-decoration: underline;
}

a:hover {
  color: var(--color-red);
}

mux-player {
  --playback-rate-button: none;
  --pip-button: none;
  --mute-button: none;
  --volume-range: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  --center-controls: none;
}