

.label {
    text-align: right;
    font-size: 12px;
    min-width: 75px;
    
}

.field {
    display: flex;
    gap: 25px;
    align-items: baseline;
    /* border: solid; */
}




.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    width: 100%;
    margin-right: 100px;
    /* border: solid; */
}

.previewBorder {
    border-bottom: solid;
}



.preview {
    display: flex;
    padding: 50px 0 50px 0;
    gap: 25px;
    
    filter: blur(10px);

    transition-property: filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.thumbnailContainer {
    position: sticky;
    top: 50px;
}

.thumbnailStack {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 100px;
    
}

.thumbnail:first-of-type {
    position: relative;
    top: 0;
    left: 0;
    
}

.thumbnail {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-top: 25px;
    visibility: hidden;
    /* margin: 0 100px;
    padding-top: 25px;
     */
}

.right {
    width: 50%;
}

.left {
    display: flex;
    width: 50%;
    flex-direction: column;
}

.projects {
    display: flex;
    
}

.filter {
    display: flex;
    position: sticky;
    top: 50px;
    padding: 25px 100px 25px 0;
    gap: 25px;
    border-bottom: solid;
    background: var(--color-white);
    z-index: 2;
}

.filterButton:nth-child(1) {
    background: var(--color-black);
    border-color: var(--color-black);
    color: var(--color-white);
}

.filterButton:hover {
    background: var(--color-black);
    color: var(--color-white);
    border-color: var(--color-black);
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.content {
    background: var(--color-white);
    position: relative
}

.about {
    display: flex;
    padding: 50px 0 0 0;
    gap: 25px;
    border-bottom: none;
}

.about > .info > .field > p {
    margin: 0;
}

.bio > .field:nth-child(2) {
    margin: 25px 0;
}

.bio {
    max-height: 0px;
    transition: max-height 0.25s ease-in-out;
}

/* demo reels */
.demoReelsContainer {
    margin: 100px 100px 75px 0;
}

.demoReelsContainer > .field > .label {
    display: flex;
    justify-content: flex-end;
    align-self: flex-end;
    text-align: right;
    font-size: 12px;
    min-width: 75px;
    padding-bottom: 50px;
}

/* .demoReelsContainer > .field {
    position: relative;
} */

.reel {
    width: 100%;
    /* position: absolute;
  object-position: top;
  object-fit: contain; */
}

.buttons {
    display: flex;
    gap: 10px;
    margin-top: 25px;
    font-size: 12px;
}


.prevButton {
position: absolute;
bottom: 0;
/* left: 20px; */
}

.nextButton {
margin-top: 22px;
margin-left: 57.7px;
}


@media only screen and (max-width: 1000px) {
    .label {
        display: none;
    }

    .demoReelsContainer {
        margin: 100px 0px 75px 0;
    }

    .demoReelsContainer > .field > .label {
        display: none;
    }

    /* .demoReelsContainer > .field > .label {
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
        text-align: right;
        font-size: 12px;
        min-width: 75px;
        padding-bottom: 50px;
    } */

    .filter {
        padding: 25px 0px 25px 0;
    }

    .filter > .field > .label {
        display: block;
        text-align: left;
        min-width: 75px;
    }

    .filter > .field {
        gap: 10px;
    }

    .field {
        flex-direction: column;
    }

    .right {
        display: none;
    }

    .left {
        width: 100%;
    }

    .preview {
        filter: blur(0);
    }

    .info {
        margin-right: 0;
    }
}