
.logo {
    margin-left: 12px;
    position: relative;
    top: 0;
    left: 0;
}

.links {
    display: flex;
    gap: 10px;
    margin-right: 125px;
}

.jCircle {
    position: relative;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-left: 8px solid transparent;
    border-top: 8px solid var(--color-black);
    border-right: 8px solid var(--color-black);
    border-bottom: 8px solid var(--color-black);
    transform: rotate(45deg);
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.cCircle {
    position: absolute;
    left: 20px;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-right: 8px solid transparent;
    border-left: 8px solid var(--color-black);
    border-top: 8px solid var(--color-black);
    border-bottom: 8px solid var(--color-black);
    transform: rotate(0deg);
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}